Repository nanotaboada/go-samples-gin-restful: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Service, Controller, Route

docs: editorial review to improve README clarity and structure
  README.md
Due: none

feat: handle trailing slashes in /players routes
  route/path.go
  route/player_route.go
  tests/main_test.go
Due: unit, Route

docs: modernize README structure
  .codacy.yml
  Dockerfile
  README.md
  assets/images/structure.svg
  assets/images/swagger.png
  codecov.yml
Due: none

test: add error handling for http.NewRequest in new tests
  tests/main_test.go
Due: none

docs: adjust Mermaid chart styling
  README.md
Due: none

docs: refine architecture diagram layout
  README.md
Due: none

feat: add feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat(build): optimize Docker builds and enhance container logs
  Dockerfile
  scripts/entrypoint.sh
Due: none

feat(deps): upgrade to Go 1.25 and Alpine 3.23
  .github/copilot-instructions.md
  .github/workflows/go.yml
  Dockerfile
  README.md
  go.mod
Due: none

chore: address SonarQube code quality issues
  .github/workflows/go.yml
  scripts/entrypoint.sh
Due: none

chore: configure CodeRabbit auto-planning with 'planning' label
  .coderabbit.yaml
Due: none

chore: enhance VS Code workspace extensions configuration
  .vscode/extensions.json
Due: none

chore: configure CodeRabbit for Go/Gin project standards
  .coderabbit.yaml
Due: none

feat: implement dependency injection for improved testability (#161)
  controller/player_controller.go
  data/player_data.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  main.go
  route/player_route.go
  service/player_service.go
  tests/main_test.go
Due: unit, Service, Controller, Route

docs: update architecture diagrams for dependency injection
  .github/copilot-instructions.md
  README.md
Due: none

fix: correct test fixture path to load from tests directory
  tests/player_fake.go
Due: none

fix(controller): add error handling for params and service failures
  controller/player_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  tests/main_test.go
Due: unit, Controller

fix(controller): improve database error handling and add parameter validation
  .codacy.yml
  codecov.yml
  controller/player_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  tests/main_test.go
Due: unit, Controller

test: add error handling tests and enforce 80% coverage
  .codacy.yml
  README.md
  codecov.yml
  controller/player_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  tests/main_test.go
  tests/mock_service.go
Due: unit, Controller

fix: validate error type in Post handler before creating player
  controller/player_controller.go
  tests/main_test.go
Due: unit, Controller

refactor!: move route composition to main (#112)
  README.md
  main.go
  route/player_route.go
  tests/main_test.go
Due: unit, Route

chore: reorganize and enhance workspace extensions
  .vscode/extensions.json
Due: none

docs: optimize AI agent instructions for token efficiency
  .github/copilot-instructions.md
  AGENTS.md
Due: none

docs: fix Swagger URL port in copilot instructions
  .github/copilot-instructions.md
Due: none

docs: format Markdown to satisfy linter
  AGENTS.md
Due: none

docs: format Markdown to satisfy linter
  .github/copilot-instructions.md
  AGENTS.md
Due: none

docs: adjust documentation inconsistencies in copilot-instructions and AGENTS
  .github/copilot-instructions.md
  AGENTS.md
Due: none

feat: implement tag-based releases with famous football players names (#179)
  .github/workflows/go-cd.yml
  .github/workflows/go-ci.yml
  CHANGELOG.md
  README.md
Due: none

docs: add CD badge and fix famous player list anchor link
  README.md
Due: none

perf: drop ARM64 platform to reduce CD build time
  .github/workflows/go-cd.yml
Due: none

perf: remove redundant Codacy integration (#183)
  .codacy.yml
  .dockerignore
  .github/workflows/go-ci.yml
  AGENTS.md
  README.md
Due: none

docs: standardize release workflow and improve documentation quality
  AGENTS.md
  CHANGELOG.md
  README.md
  controller/player_controller.go
  model/player_model.go
  service/player_service.go
Due: unit, Service, Controller

docs: consolidate release steps and fix player name case in AGENTS.md
  AGENTS.md
Due: none

docs: add CodeQL badge to README
  README.md
Due: none

docs: consolidate release steps
  AGENTS.md
Due: none

docs: add CodeQL badge
  README.md
Due: none

docs: restructure AI instruction files
  .github/copilot-instructions.md
  AGENTS.md
Due: none

docs(ci): clarify race detector runs in CD not CI
  .github/copilot-instructions.md
Due: none

docs(copilot): unify instructions as canonical single-file format
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Path conditions:
  unit: any of: service/, controller/, route/, but not: .github, .vscode, assets/**/*, data/**/*, docs/**/*, model/**/*, postman_collections/**/*, swagger/**/*, tests/**/*, .gitignore, **/*.yml, **/*.json, **/*.png, **/*.svg, go.mod, go.sum, LICENSE, main.go, README.md
  Service: any of: service/, but not: .github, .vscode, assets/**/*, data/**/*, docs/**/*, model/**/*, postman_collections/**/*, swagger/**/*, tests/**/*, .gitignore, **/*.yml, **/*.json, **/*.png, **/*.svg, go.mod, go.sum, LICENSE, main.go, README.md
  Controller: any of: controller/, but not: .github, .vscode, assets/**/*, data/**/*, docs/**/*, model/**/*, postman_collections/**/*, swagger/**/*, tests/**/*, .gitignore, **/*.yml, **/*.json, **/*.png, **/*.svg, go.mod, go.sum, LICENSE, main.go, README.md
  Route: any of: route/, but not: .github, .vscode, assets/**/*, data/**/*, docs/**/*, model/**/*, postman_collections/**/*, swagger/**/*, tests/**/*, .gitignore, **/*.yml, **/*.json, **/*.png, **/*.svg, go.mod, go.sum, LICENSE, main.go, README.md
