Repository nanotaboada/go-samples-gin-restful: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Service, Controller, Route

refactor!: package and file naming to match conventions
  .codacy.yml
  .github/workflows/go.yml
  README.md
  assets/images/structure.svg
  assets/images/swagger.png
  codecov.yml
  controller/player_controller.go
  data/player_data.go
  data/players-sqlite3.db
  data/players_sqlite3.db
  main.go
  model/player_model.go
  route/player_route.go
  service/player_service.go
  swagger/swagger.go
  tests/main_test.go
  tests/player_stub.go
Due: unit, Service, Controller, Route

fix: apply CodeRabbit suggestions
  controller/player_controller.go
  data/player_data.go
Due: unit, Controller

chore: include SonarQube for IDE settings
  .vscode/settings.json
Due: none

chore: update debug launch config to open Swagger UI
  .vscode/launch.json
Due: none

chore: update structure diagram
  README.md
  assets/images/structure.svg
Due: none

chore(ci): lint commit messages
  .github/workflows/go.yml
Due: none

chore(ci): switch to default setup for CodeQL scanning
  .github/workflows/codacy.yml
Due: none

chore: adjust structure diagram
  assets/images/structure.svg
Due: none

fix(ci): set workflow permissions (contents: read)
  .github/workflows/go.yml
Due: none

chore: add code of conduct and contributing guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

fix(test): use in-memory SQLite to resolve nullable constraint issues
  data/players_sqlite3.db
  tests/main_test.go
  tests/player_fake.go
  tests/player_stub.go
  tests/players.json
Due: none

chore(ci): add commitlint config rules and ignores
  commitlint.config.mjs
Due: none

feat: add multi-stage Dockerfile for building and running app
  .dockerignore
  Dockerfile
  README.md
Due: none

chore(ci): parallelize coverage uploads using matrix strategy
  .github/workflows/go.yml
Due: none

feat(ci): update workflow to build and publish Docker image to GHCR
  .github/workflows/go.yml
Due: none

chore(ci): limit container job to master branch pushes
  .github/workflows/go.yml
Due: none

chore: enhance doc comments
  controller/player_controller.go
  data/player_data.go
  swagger/swagger.go
Due: unit, Controller

feat(container): add Docker Compose support with persistent SQLite volume
  Dockerfile
  README.md
  docker-compose.yml
  main.go
  route/player_route.go
  scripts/entrypoint.sh
  scripts/healthcheck.sh
  storage/players-sqlite3.db
  tests/main_test.go
Due: unit, Route

chore(ci): pin GitHub Actions to specific versions
  .github/workflows/go.yml
Due: none

chore(container): rename Docker Compose file to preferred canonical form
  compose.yml
Due: none

chore(container): simplify creation of system user
  Dockerfile
Due: none

chore(container): adjust health check script defaults
  scripts/healthcheck.sh
Due: none

chore(container): rename folder holding pre-seeded SQLite database file
  Dockerfile
  scripts/entrypoint.sh
Due: none

chore(container): specify Docker Compose project name
  compose.yaml
Due: none

chore: add VS Code extension recommendations
  .vscode/extensions.json
Due: none

chore: adjust VS Code editor rulers
  .vscode/settings.json
Due: none

refactor: replace duplicated string literals with named constants for SonarQube S1192 compliance
  route/constants.go
  route/player_route.go
Due: unit, Route

chore: remove Codebeat badge
  README.md
Due: none

refactor(route): extract string literals to constants (SonarQube go:S1192)
  route/constants.go
  route/player_route.go
Due: unit, Route

refactor(route): eliminate string duplication in path constants
  route/constants.go
  route/path.go
  route/player_route.go
Due: unit, Route

fix(route): improve cache invalidation and path consistency
  route/path.go
  route/player_route.go
Due: unit, Route

chore(test): use route constants to eliminate hardcoded URLs
  tests/main_test.go
Due: none

fix(route): correct cache invalidation keys to match CachePage entries
  route/player_route.go
Due: unit, Route

refactor(route): remove unused squadnumber cache clearing code
  route/player_route.go
Due: unit, Route

feat: add Copilot instructions for repository onboarding
  .github/copilot-instructions.md
Due: none

docs: modernize README with comprehensive structure and navigation
  README.md
Due: none

Path conditions:
  unit: any of: service/, controller/, route/, but not: .github, .vscode, assets/**/*, data/**/*, docs/**/*, model/**/*, postman_collections/**/*, swagger/**/*, tests/**/*, .gitignore, **/*.yml, **/*.json, **/*.png, **/*.svg, go.mod, go.sum, LICENSE, main.go, README.md
  Service: any of: service/, but not: .github, .vscode, assets/**/*, data/**/*, docs/**/*, model/**/*, postman_collections/**/*, swagger/**/*, tests/**/*, .gitignore, **/*.yml, **/*.json, **/*.png, **/*.svg, go.mod, go.sum, LICENSE, main.go, README.md
  Controller: any of: controller/, but not: .github, .vscode, assets/**/*, data/**/*, docs/**/*, model/**/*, postman_collections/**/*, swagger/**/*, tests/**/*, .gitignore, **/*.yml, **/*.json, **/*.png, **/*.svg, go.mod, go.sum, LICENSE, main.go, README.md
  Route: any of: route/, but not: .github, .vscode, assets/**/*, data/**/*, docs/**/*, model/**/*, postman_collections/**/*, swagger/**/*, tests/**/*, .gitignore, **/*.yml, **/*.json, **/*.png, **/*.svg, go.mod, go.sum, LICENSE, main.go, README.md
